* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(172, 238, 190);
}

p {
  position: absolute;
  max-width: 85%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: black;
}

p:hover {
  color: brown;
}

a:visited {
  color: black;
}
