* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  position: absolute;
  max-width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

audio {
  position: fixed;
  bottom: 45px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  color: blue;
}
