.__nuxt-error-page {
  padding: 1rem;
  background: #f7f8fb;
  color: #47494e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  font-weight: 100 !important;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.__nuxt-error-page .error {
  max-width: 450px;
}

.__nuxt-error-page .title {
  font-size: 1.5rem;
  margin-top: 15px;
  color: #47494e;
  margin-bottom: 8px;
}

.__nuxt-error-page .description {
  color: #7f828b;
  line-height: 21px;
  margin-bottom: 10px;
}

.__nuxt-error-page a {
  color: #7f828b !important;
  text-decoration: none;
}

.__nuxt-error-page .logo {
  position: fixed;
  left: 12px;
  bottom: 12px;
}

.nuxt-progress {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 2px;
  width: 0;
  opacity: 1;
  transition: width 0.1s, opacity 0.4s;
  background-color: #000;
  z-index: 999999;
}

.nuxt-progress.nuxt-progress-notransition {
  transition: none;
}

.nuxt-progress-failed {
  background-color: red;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  -webkit-text-decoration-skip: objects;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  text-transform: none;
}

button,
input {
  overflow: visible;
}

[type='reset'],
[type='submit'],
button,
html [type='button'] {
  -webkit-appearance: button;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

@font-face {
  font-family: Caslon Ionic;
  src: url(/_nuxt/fonts/8a35fd3.eot);
  src: url(/_nuxt/fonts/8a35fd3.eot?#iefix) format('embedded-opentype'),
    url(/_nuxt/fonts/57c6777.woff2) format('woff2'),
    url(/_nuxt/fonts/42b65c2.woff) format('woff'),
    url(/_nuxt/fonts/37836a9.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Caslon Ionic;
  src: url(/_nuxt/fonts/913fc63.eot);
  src: url(/_nuxt/fonts/913fc63.eot?#iefix) format('embedded-opentype'),
    url(/_nuxt/fonts/1fc6ee9.woff2) format('woff2'),
    url(/_nuxt/fonts/b036d79.woff) format('woff'),
    url(/_nuxt/fonts/b5c562b.ttf) format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: Caslon Ionic;
  src: url(/_nuxt/fonts/cebf8d8.eot);
  src: url(/_nuxt/fonts/cebf8d8.eot?#iefix) format('embedded-opentype'),
    url(/_nuxt/fonts/8402c62.woff2) format('woff2'),
    url(/_nuxt/fonts/d163299.woff) format('woff'),
    url(/_nuxt/fonts/f52244f.ttf) format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Caslon Ionic;
  src: url(/_nuxt/fonts/d78139c.eot);
  src: url(/_nuxt/fonts/d78139c.eot?#iefix) format('embedded-opentype'),
    url(/_nuxt/fonts/d0f1900.woff2) format('woff2'),
    url(/_nuxt/fonts/b247d3a.woff) format('woff'),
    url(/_nuxt/fonts/c342615.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Wazlon;
  src: url(/_nuxt/fonts/a500d41.woff2) format('woff2'),
    url(/_nuxt/fonts/cbfa90e.woff) format('woff'),
    url(/_nuxt/fonts/36ebfaa.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Wazlon;
  src: url(/_nuxt/fonts/a899562.woff2) format('woff2'),
    url(/_nuxt/fonts/9bd6896.woff) format('woff'),
    url(/_nuxt/fonts/070b016.ttf) format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

#app,
body,
div,
header,
html {
  margin: 0;
  padding: 0;
  border: 0;
}

#app {
  min-width: 100%;
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
}

a,
abbr,
acronym,
blockquote,
dd,
dt,
input,
li,
ol,
p,
q,
select,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

img,
table {
  border: none;
}

form,
table {
  margin: 0;
  padding: 0;
}

form {
  display: inline;
}

:root {
  --page-margins: 1.5em;
  --page-margins-tablet: 1.5em;
  --page-margins-phone: 1em;
  --grid-column-number: 18;
  --grid-column-number-mega-desk: 24;
  --grid-column-number-desktop: 21;
  --grid-column-number-laptop: 18;
  --grid-column-number-tablet: 12;
  --grid-column-number-phone: 12;
  --grid-column-width-desktop: calc(
    (
        100vw - var(--page-margins) * (var(--grid-column-number-desktop) - 1) -
          var(--page-margins) * 2
      ) / var(--grid-column-number-desktop)
  );
  --grid-column-width: calc(
    (
        100vw - var(--page-margins) * (var(--grid-column-number) - 1) -
          var(--page-margins) * 2
      ) / var(--grid-column-number)
  );
  --grid-column-width-tablet: calc(
    (
        100vw - var(--page-margins-tablet) *
          (var(--grid-column-number-tablet) - 1) - var(--page-margins-tablet) *
          2
      ) / var(--grid-column-number-tablet)
  );
  --grid-column-width-phone: calc(
    (
        100vw - var(--page-margins-phone) *
          (var(--grid-column-number-phone) - 1) - var(--page-margins-phone) * 2
      ) / var(--grid-column-number-phone)
  );
}

#app,
body,
html {
  max-width: 100%;
  font-family: Caslon Ionic, serif;
  font-weight: 400;
  display: block;
  -webkit-font-smoothing: antialiased;
  line-height: 1.35;
  transition: color 1s ease;
  letter-spacing: 0.01em;
}

@media (max-width: 767px) {
  #app,
  body,
  html {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #app,
  body,
  html {
    font-size: 16px;
  }
}

@media (min-width: 1024px) and (max-width: 1699px) {
  #app,
  body,
  html {
    font-size: 20px;
  }
}

@media (min-width: 1700px) {
  #app,
  body,
  html {
    font-size: 20px;
  }
}

#__layout,
#__nuxt,
.content,
body,
html,
html > body > #__nuxt > #__layout > div {
  height: 100%;
}

hr {
  padding: 0;
  margin: 0;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

li {
  list-style: none;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

textarea {
  position: absolute;
  left: -100%;
}

.clickable,
.magnifiable {
  cursor: pointer;
}

img,
picture {
  display: block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.scroll {
  overflow: scroll;
}

.lazyfade {
  transition: opacity 0.25s ease-out;
}

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
}

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 500;
}

.underline {
  text-decoration: underline;
}

.tabular-numbers {
  font-feature-settings: 'tnum';
}

a {
  text-decoration: none;
}

a,
a:hover {
  color: inherit;
}

a:hover button {
  background-color: #fff;
  color: #000;
}

a.nuxt-link-exact-active,
a:active {
  color: inherit;
}

a.nuxt-link-exact-active button {
  background-color: #fff;
  color: #000;
}

.hover-link {
  color: inherit;
  text-decoration: none;
}

.hover-link:active,
.hover-link:hover {
  color: var(--aoc-secondary-colour);
}

.hover-link.nuxt-link-exact-active {
  color: inherit;
}

.nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 102;
  vertical-align: text-top;
  color: #fff;
  mix-blend-mode: difference;
}

.left {
  margin-right: auto;
  font-weight: 500;
  padding-left: 1em;
}

.left,
.middle {
  position: absolute;
  pointer-events: auto;
  z-index: 102;
}

.middle {
  left: 50%;
  transform: translate(-50%);
}

.right {
  margin-left: auto;
  pointer-events: none;
  z-index: 102;
  margin-right: 1em;
}

.middle {
  text-align: center;
}

.middle,
.right {
  font-weight: 500;
}

.right {
  text-align: right;
}

.item {
  padding: 1em 0;
  display: inline-block;
  pointer-events: all;
}

.item button {
  vertical-align: text-bottom;
  border-radius: 100%;
  width: 1.75em;
  height: 1.75em;
}
