li[data-v-2fe05649]:first-child {
  -webkit-animation-delay: -21.5s;
  animation-delay: -21.5s;
}

li[data-v-2fe05649]:nth-child(2) {
  -webkit-animation-delay: -21s;
  animation-delay: -21s;
}

li[data-v-2fe05649]:nth-child(3) {
  -webkit-animation-delay: -20.5s;
  animation-delay: -20.5s;
}

li[data-v-2fe05649]:nth-child(4) {
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
}

li[data-v-2fe05649]:nth-child(5) {
  -webkit-animation-delay: -19.5s;
  animation-delay: -19.5s;
}

li[data-v-2fe05649]:nth-child(6) {
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
}

li[data-v-2fe05649]:nth-child(7) {
  -webkit-animation-delay: -18.5s;
  animation-delay: -18.5s;
}

li[data-v-2fe05649]:nth-child(8) {
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
}

li[data-v-2fe05649]:nth-child(9) {
  -webkit-animation-delay: -17.5s;
  animation-delay: -17.5s;
}

li[data-v-2fe05649]:nth-child(10) {
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
}

li[data-v-2fe05649]:nth-child(11) {
  -webkit-animation-delay: -16.5s;
  animation-delay: -16.5s;
}

li[data-v-2fe05649]:nth-child(12) {
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
}

li[data-v-2fe05649]:nth-child(13) {
  -webkit-animation-delay: -15.5s;
  animation-delay: -15.5s;
}

li[data-v-2fe05649]:nth-child(14) {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
}

li[data-v-2fe05649]:nth-child(15) {
  -webkit-animation-delay: -14.5s;
  animation-delay: -14.5s;
}

li[data-v-2fe05649]:nth-child(16) {
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
}

li[data-v-2fe05649]:nth-child(17) {
  -webkit-animation-delay: -13.5s;
  animation-delay: -13.5s;
}

li[data-v-2fe05649]:nth-child(18) {
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
}

li[data-v-2fe05649]:nth-child(19) {
  -webkit-animation-delay: -12.5s;
  animation-delay: -12.5s;
}

li[data-v-2fe05649]:nth-child(20) {
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
}

li[data-v-2fe05649]:nth-child(21) {
  -webkit-animation-delay: -11.5s;
  animation-delay: -11.5s;
}

li[data-v-2fe05649]:nth-child(22) {
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
}

li[data-v-2fe05649]:nth-child(23) {
  -webkit-animation-delay: -10.5s;
  animation-delay: -10.5s;
}

li[data-v-2fe05649]:nth-child(24) {
  -webkit-animation-delay: -10s;
  animation-delay: -10s;
}

li[data-v-2fe05649]:nth-child(25) {
  -webkit-animation-delay: -9.5s;
  animation-delay: -9.5s;
}

li[data-v-2fe05649]:nth-child(26) {
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
}

li[data-v-2fe05649]:nth-child(27) {
  -webkit-animation-delay: -8.5s;
  animation-delay: -8.5s;
}

li[data-v-2fe05649]:nth-child(28) {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
}

li[data-v-2fe05649]:nth-child(29) {
  -webkit-animation-delay: -7.5s;
  animation-delay: -7.5s;
}

li[data-v-2fe05649]:nth-child(30) {
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
}

li[data-v-2fe05649]:nth-child(31) {
  -webkit-animation-delay: -6.5s;
  animation-delay: -6.5s;
}

li[data-v-2fe05649]:nth-child(32) {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

li[data-v-2fe05649]:nth-child(33) {
  -webkit-animation-delay: -5.5s;
  animation-delay: -5.5s;
}

li[data-v-2fe05649]:nth-child(34) {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

li[data-v-2fe05649]:nth-child(35) {
  -webkit-animation-delay: -4.5s;
  animation-delay: -4.5s;
}

li[data-v-2fe05649]:nth-child(36) {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

li[data-v-2fe05649]:nth-child(37) {
  -webkit-animation-delay: -3.5s;
  animation-delay: -3.5s;
}

li[data-v-2fe05649]:nth-child(38) {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

li[data-v-2fe05649]:nth-child(39) {
  -webkit-animation-delay: -2.5s;
  animation-delay: -2.5s;
}

li[data-v-2fe05649]:nth-child(40) {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

li[data-v-2fe05649]:nth-child(41) {
  -webkit-animation-delay: -1.5s;
  animation-delay: -1.5s;
}

li[data-v-2fe05649]:nth-child(42) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

li[data-v-2fe05649]:nth-child(43) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

li[data-v-2fe05649]:nth-child(44) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

li[data-v-2fe05649]:nth-child(45) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

li[data-v-2fe05649]:nth-child(46) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

li[data-v-2fe05649]:nth-child(47) {
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

li[data-v-2fe05649]:nth-child(48) {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

li[data-v-2fe05649]:nth-child(49) {
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

li[data-v-2fe05649]:nth-child(50) {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

li[data-v-2fe05649]:nth-child(51) {
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

li[data-v-2fe05649]:nth-child(52) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

li[data-v-2fe05649]:nth-child(53) {
  -webkit-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

li[data-v-2fe05649]:nth-child(54) {
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

li[data-v-2fe05649]:nth-child(55) {
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

li[data-v-2fe05649]:nth-child(56) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

li[data-v-2fe05649]:nth-child(57) {
  -webkit-animation-delay: 6.5s;
  animation-delay: 6.5s;
}

li[data-v-2fe05649]:nth-child(58) {
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

li[data-v-2fe05649]:nth-child(59) {
  -webkit-animation-delay: 7.5s;
  animation-delay: 7.5s;
}

li[data-v-2fe05649]:nth-child(60) {
  -webkit-animation-delay: 8s;
  animation-delay: 8s;
}

li[data-v-2fe05649]:nth-child(61) {
  -webkit-animation-delay: 8.5s;
  animation-delay: 8.5s;
}

li[data-v-2fe05649]:nth-child(62) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

li[data-v-2fe05649]:nth-child(63) {
  -webkit-animation-delay: 9.5s;
  animation-delay: 9.5s;
}

li[data-v-2fe05649]:nth-child(64) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

li[data-v-2fe05649]:nth-child(65) {
  -webkit-animation-delay: 10.5s;
  animation-delay: 10.5s;
}

li[data-v-2fe05649]:nth-child(66) {
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

li[data-v-2fe05649]:nth-child(67) {
  -webkit-animation-delay: 11.5s;
  animation-delay: 11.5s;
}

li[data-v-2fe05649]:nth-child(68) {
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
}

li[data-v-2fe05649]:nth-child(69) {
  -webkit-animation-delay: 12.5s;
  animation-delay: 12.5s;
}

li[data-v-2fe05649]:nth-child(70) {
  -webkit-animation-delay: 13s;
  animation-delay: 13s;
}

li[data-v-2fe05649]:nth-child(71) {
  -webkit-animation-delay: 13.5s;
  animation-delay: 13.5s;
}

li[data-v-2fe05649]:nth-child(72) {
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}

li[data-v-2fe05649]:nth-child(73) {
  -webkit-animation-delay: 14.5s;
  animation-delay: 14.5s;
}

li[data-v-2fe05649]:nth-child(74) {
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
}

li[data-v-2fe05649]:nth-child(75) {
  -webkit-animation-delay: 15.5s;
  animation-delay: 15.5s;
}

li[data-v-2fe05649]:nth-child(76) {
  -webkit-animation-delay: 16s;
  animation-delay: 16s;
}

li[data-v-2fe05649]:nth-child(77) {
  -webkit-animation-delay: 16.5s;
  animation-delay: 16.5s;
}

li[data-v-2fe05649]:nth-child(78) {
  -webkit-animation-delay: 17s;
  animation-delay: 17s;
}

@-webkit-keyframes corkscrew-a-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(110vh) rotate(5deg);
  }

  to {
    transform: rotateY(-150deg) translateY(-70vh) rotate(5deg);
  }
}

@keyframes corkscrew-a-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(110vh) rotate(5deg);
  }

  to {
    transform: rotateY(-150deg) translateY(-70vh) rotate(5deg);
  }
}

@-webkit-keyframes corkscrew-b-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(120vh) rotate(10deg);
  }

  to {
    transform: rotateY(-180deg) translateY(-100vh) rotate(10deg);
  }
}

@keyframes corkscrew-b-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(120vh) rotate(10deg);
  }

  to {
    transform: rotateY(-180deg) translateY(-100vh) rotate(10deg);
  }
}

@-webkit-keyframes corkscrew-c-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(120vh) rotate(10deg);
  }

  to {
    transform: rotateY(-270deg) translateY(-190vh) rotate(10deg);
  }
}

@keyframes corkscrew-c-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(120vh) rotate(10deg);
  }

  to {
    transform: rotateY(-270deg) translateY(-190vh) rotate(10deg);
  }
}

@-webkit-keyframes corkscrew-d-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(120vh) rotate(10deg);
  }

  25% {
    transform: rotateY(-12.5deg) translateY(30vh) rotate(10deg);
  }

  50% {
    transform: rotateY(-115deg) translateY(-60vh) rotate(10deg);
  }

  75% {
    transform: rotateY(-217.5deg) translateY(-150vh) rotate(10deg);
  }

  to {
    transform: rotateY(-320deg) translateY(-240vh) rotate(10deg);
  }
}

@keyframes corkscrew-d-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(120vh) rotate(10deg);
  }

  25% {
    transform: rotateY(-12.5deg) translateY(30vh) rotate(10deg);
  }

  50% {
    transform: rotateY(-115deg) translateY(-60vh) rotate(10deg);
  }

  75% {
    transform: rotateY(-217.5deg) translateY(-150vh) rotate(10deg);
  }

  to {
    transform: rotateY(-320deg) translateY(-240vh) rotate(10deg);
  }
}

@-webkit-keyframes corkscrew-e-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(120vh) rotate(10deg);
  }

  to {
    transform: rotateY(-390deg) translateY(-290vh) rotate(10deg);
  }
}

@keyframes corkscrew-e-data-v-2fe05649 {
  0% {
    transform: rotateY(90deg) translateY(120vh) rotate(10deg);
  }

  to {
    transform: rotateY(-390deg) translateY(-290vh) rotate(10deg);
  }
}

.dragging[data-v-2fe05649] {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#app[data-v-2fe05649],
body[data-v-2fe05649],
html[data-v-2fe05649],
ul[data-v-2fe05649] {
  max-width: 100%;
  height: 100%;
  font-family: Wazlon, serif !important;
  letter-spacing: 0.01em;
  line-height: 1.3;
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: 'pnum', 'onum';
}

@media (max-width: 767px) {
  #app[data-v-2fe05649],
  body[data-v-2fe05649],
  html[data-v-2fe05649],
  ul[data-v-2fe05649] {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  #app[data-v-2fe05649],
  body[data-v-2fe05649],
  html[data-v-2fe05649],
  ul[data-v-2fe05649] {
    font-size: 16px;
  }
}

@media (min-width: 1024px) and (max-width: 1699px) {
  #app[data-v-2fe05649],
  body[data-v-2fe05649],
  html[data-v-2fe05649],
  ul[data-v-2fe05649] {
    font-size: 18px;
  }
}

@media (min-width: 1700px) {
  #app[data-v-2fe05649],
  body[data-v-2fe05649],
  html[data-v-2fe05649],
  ul[data-v-2fe05649] {
    font-size: 20px;
  }
}

.italic[data-v-2fe05649] {
  font-style: italic;
}

.small-caps[data-v-2fe05649] {
  font-feature-settings: 'smcp';
}

.letter-spacing[data-v-2fe05649] {
  letter-spacing: 0.05em;
}

body[data-v-2fe05649] {
  background-color: #fff;
  color: #36f !important;
}

ul[data-v-2fe05649] {
  overflow: hidden;
  perspective: 50vh;
  list-style: none;
  white-space: nowrap;
  height: 100vh;
  text-align: center;
}

li[data-v-2fe05649] {
  color: #36f;
  position: absolute;
  top: 0;
  width: 100%;
  transform: translateY(100vh);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  letter-spacing: 0.01em;
}

@media (max-aspect-ratio: 2/3) {
  li[data-v-2fe05649] {
    font-size: 2vh;
    -webkit-animation: corkscrew-a-data-v-2fe05649 39s linear infinite;
    animation: corkscrew-a-data-v-2fe05649 39s linear infinite;
  }
}

@media (min-aspect-ratio: 2/3) and (max-aspect-ratio: 1/1) {
  li[data-v-2fe05649] {
    font-size: 2.5vh;
    -webkit-animation: corkscrew-b-data-v-2fe05649 39s linear infinite;
    animation: corkscrew-b-data-v-2fe05649 39s linear infinite;
  }
}

@media (min-aspect-ratio: 1/1) and (max-aspect-ratio: 3/2) {
  li[data-v-2fe05649] {
    font-size: 3.5vh;
    -webkit-animation: corkscrew-c-data-v-2fe05649 39s linear infinite;
    animation: corkscrew-c-data-v-2fe05649 39s linear infinite;
  }
}

@media (min-aspect-ratio: 3/2) and (max-aspect-ratio: 2/1) {
  li[data-v-2fe05649] {
    font-size: 4vh;
    -webkit-animation: corkscrew-d-data-v-2fe05649 39s linear infinite;
    animation: corkscrew-d-data-v-2fe05649 39s linear infinite;
  }
}

@media (min-aspect-ratio: 2/1) {
  li[data-v-2fe05649] {
    font-size: 4.5vh;
    -webkit-animation: corkscrew-e-data-v-2fe05649 39s linear infinite;
    animation: corkscrew-e-data-v-2fe05649 39s linear infinite;
  }
}
